html {
    background-color: white;
    font-size: 62.5%;
}

.notes {
    display: none;
}

h1, h2, h3, h4 {
    font-family: sans-serif;
    margin: 40px 0 20px;
}

h1 {
    font-size: 5.5rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3.5rem;
}

pre {
    font-size: 2rem;
    font-family: monospace;
    line-height: 3.5rem;
}

pre code {
    border-radius: 1rem;
}

.hide {
    visibility: hidden;
}

.future.stack {
    visibility: hidden;
}

.step {
    background-color: white;

    width: 1280px;
    height: 720px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
