.notes {
    display: none;
}

.step {
    background-color: lightgrey;

    width: 1280px;
    height: 720px;
    border: 1px solid #f0f;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.step.active {
    background-color: white;
}
