html {
    background-color: #444;
    font-size: 62.5%;
}

.notes {
    display: none;
}

h1, h2, h3, h4 {
    font-family: sans-serif;
    padding: 20px;
}

h1 {
    font-size: 5.5rem;
}

h2 {
    font-size: 4rem;
}

.hide {
    color: rgba(0, 0, 0, 0);
}

.future.stack {
    display: none;
}

.step {
    background-color: white;

    width: 1280px;
    height: 720px;
    border: 1px solid #f0f;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
